<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>travel</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!--自定义下载Servlet，需要放在struts2配置的前面，而且后缀还要自定义 -->
	<!-- <servlet>
		<servlet-name>DownLoadServlet</servlet-name>
		<servlet-class>com.travel.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownLoadServlet</servlet-name>
		<url-pattern>/travel/download.do</url-pattern>
	</servlet-mapping> -->
	<!-- 对Spring容器进行实例化 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.travel.listener.TaskContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 定义ueditor拦截器 -->
	<!-- ueditor start -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>com.travel.filter.UeditorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- ueditor end -->

    <!-- 过滤器用来过滤jsp文件，需要登陆后才可访问 -->
	<filter>
		<filter-name>SessionInvalidate</filter-name>
		<filter-class>com.travel.interceptor.LoginFilter</filter-class>  <!-- //过滤器核心类的class地址 -->
		<init-param>
			<param-name>checkSessionKey</param-name>  <!-- //session中需要检查的key -->
			<param-value>loginname</param-value>
		</init-param>
		<init-param>
			<param-name>redirectURL</param-name>  <!-- //重定向后的地址 -->
			<param-value>/travel/visitor/first.action</param-value>
		</init-param>
		<init-param>
			<param-name>notCheckURLList</param-name>  <!-- //不需要过滤的jsp -->
			<param-value>/portal/index.jsp,/portal/portalshow.jsp,/portal/portallistshow.jsp,/portal/webgis.jsp,/travel/user/login.jsp,/index.jsp,/weather/weather.jsp</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>SessionInvalidate</filter-name>  <!-- //需要过滤的文件 -->
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>


	<!-- 定义Struts2的核心控制器 -->
	<!-- <filter> <filter-name>struts2</filter-name> <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class> 
		</filter> <filter-mapping> <filter-name>struts2</filter-name> <url-pattern>/*</url-pattern> 
		</filter-mapping> -->

	<!-- <jsp-config> <jsp-property-group> <description>html encoding</description> 
		<display-name>JSPConfiguration</display-name> <url-pattern>*.html</url-pattern> 
		<el-ignored>true</el-ignored> <page-encoding>UTF-8</page-encoding> <scripting-invalid>false</scripting-invalid> 
		<include-prelude></include-prelude> <include-coda></include-coda> </jsp-property-group> 
		</jsp-config> -->

</web-app>