body,div,ul,li {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: "Microsoft Yahei";
}

ul {
	list-style: none;
}

.main {
	clear: both;
	padding: 8px;
	text-align: center;
}

/*第二种形式*/

.menu1box {
	position: relative;
	overflow: hidden;
	height: 28px;
	text-align: left;
}

#menu1 li {
	float: left;
	display: block;
	cursor: pointer;
	width: 100px;
	text-align: center;
	line-height: 27px;
	height: 27px;
	border-bottom: 1px solid #333;
}

#menu1 li.hover {
	background: #fff;
	border-left: 1px solid #333;
	border-top: 2px solid #FF7F00;
	border-right: 1px solid #333;
	border-bottom: 1px solid #fff;
	z-index: 1;
}

.main1box {
	clear: both; 
	z-index: 0;
	margin-top: -1px;
}

#main1 ul {
	display: none;
}

#main1 ul.block {
	display: block;
}