body{
 	font-family:"Microsoft Yahei";
 	position: absolute;
	width: 100%;
	min-height: 100%;
}
.contentstyle{
	margin-bottom:120px;
	width:100%;
	text-align:center;
}
.headlogo {
	text-align: center;
	width: 100%;
	height: 191px;
	min-width: 1174px;
/* 	background-image: url(../image/logobk.png); */
}
.navbarhead {
    text-align: center;
	height: 60px;
	min-width: 1174px;
	background-color: rgb(2, 189, 115);
	width:100%;
}
.navbarhead li {
	list-style-image: none;
	list-style-type: none;
	margin-right:5px;
	float: left;
}
.navbarhead li a {
    font-size:18px;
    font-weight:bold;
	color: #ffffff;
	text-decoration: none;
	margin: 0px;
	padding-top: 18px;
	display: block; /* 作为一个块 */
	padding-right: 15px; /*设置块的属性 */
	padding-bottom: 18px;
	padding-left: 15px;
}
.navbarhead li a:hover {
	background-color: rgb(1,135,82);
	text-decoration:underline;
	color: #FFFFFF;
}
.dropdown-menu li {
	width:100%;
	border-bottom:1px solid #C4C4C4;
}
.dropdown-menu li a {
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding-top: 14px;
	display: block;
	padding-right: 15px;
	padding-bottom: 14px;
	padding-left: 15px;
}